<header class="main-header">
    <div class="logo-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVAJ6A2YRM7sSub-jHP_IXBm2ObvLfAAdu4g&s" alt="Fundación Angelitos Logo" class="logo">
        <h1>Fundación Angelitos</h1>
    </div>
    <nav class="main-nav">
        <a href="/index.html">Inicio</a> |
        <a href="/html/colaboradores.html">Colaboradores</a> |
        <a href="/html/eventos.html">Eventos</a> |
        <a href="/html/noticias.html">Noticias</a> |
        <a href="/html/opiniones.html">Opiniones</a> |
        <a href="/html/politicas.html">Políticas</a> |
        <a href="/html/preguntasfrecuentes.html">Preguntas Frecuentes</a> |
        <a href="/html/proyectos.html">Proyectos</a> |
        <a href="/html/sobre_nosotros.html">Sobre Nosotros</a> |
        <a href="/html/ubicaciones.html">Ubicaciones</a>
    </nav>
</header>